<div class="nav-container">
    <div class="nav__title">
        <span>Dashboard</span>
    </div>
    <div class="nav__menu">
        <div class="nav__menu-item" (click)="handleSelectPage(navHome)">
            <div [ngClass]="loader.isPage.value == navHome ? 'active_class' : 'unActive_class'">
                <img src="../../../../assets/icons/home.png"/>
                <span>Home</span>
            </div>
        </div>
        <div class="nav__menu-item" (click)="handleSelectPage(navProduct)">
            <div [ngClass]="loader.isPage.value == navProduct ? 'active_class' : 'unActive_class'">
                <img src="../../../../assets/icons/product.png"/>
                <span>Products</span>
            </div>
        </div>
        <div class="nav__menu-item" (click)="handleSelectPage(navProductGroup)">
            <div [ngClass]="loader.isPage.value == navProductGroup ? 'active_class' : 'unActive_class'">
                <img src="../../../../assets/icons/grouping.png"/>
                <span>Product groups</span>
            </div>
        </div>
    </div>
</div>