<div class="home_container">
    <div class="header">
        <app-dashboard-header></app-dashboard-header>
    </div>
    <div class="body-content">
        <div class="nav">
            <app-dashboard-nav></app-dashboard-nav>
        </div>
        <div class="content">
            <app-dashboard-home *ngIf="loader.isPage.value == navHome"></app-dashboard-home>
            <app-dashboard-product *ngIf="loader.isPage.value == navProduct"></app-dashboard-product>
            <app-dashboard-product-group *ngIf="loader.isPage.value == navProductGroup"></app-dashboard-product-group>
        </div>
    </div>
</div>
