<div class="header-container">
    <div class="header-content">
        <div class="header-content__left">
            <div class="header-content__left-button-arrow">
                <img src="../../../../assets/icons/hamburger-menu.png">
            </div>
        </div>
        <div class="header-content__right">
            <div class="header-content__right-notification">
                <img src="../../../../assets/icons/notification.png">
            </div>
            <div class="header-content__right-avatar">
                <img src="../../../../assets/image/avata-dn.jpg">
            </div>
        </div>
    </div>
</div>