button {
    margin-right: 8px;
}
.delete-dialog__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
        font-size: medium;
        font-weight: 500;
        color: red;
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}