<div class="client-home__container">
    <div class="client-home-header">
        <div class="client-home-header__title">
            <strong class="uppercase">khuyến mãi cuối tháng giá <span style="color:#ff56af">chỉ từ 69k </span>mua ngay</strong>
        </div>
        <div class="client-home-header__nav">
            <div class="client-home-header__nav-left">
                <div>
                    <a class="font-global" href="http://localhost:4200/client/home_page">Internastional Site</a>
                </div>
                <div>
                    <a class="font-global" href="http://localhost:4200/client/home_page">Đăng ký giảm ngay 10%</a>
                </div>
            </div>
            <div class="client-home-header__nav-center">
                <img width="240" height="90" src="../../../../assets/image/logo.png" alt="shein">
            </div>
            <div class="client-home-header__nav-right">
                <div>
                    <a class="font-global" href="http://localhost:4200/client/home_page">Chăm sóc khách hàng</a>
                </div>
                <div>
                    <a class="font-global" href="http://localhost:4200/client/home_page">Đăng nhập/Đăng ký</a>
                </div>
                <div>
                    <img width="40" height="40" src="../../../../assets/icons/cart.png">
                </div>
            </div>
        </div>
        <div class="client-home-header__nav-router">
            <div class="nav-router__container">
                <div class="nav-router__container-box">
                    <div class="font-global">Khuyến mãi</div>
                    <div class="font-global">Tops</div>
                    <div class="font-global">Phụ kiện</div>
                    <div class="font-global">Sale</div>
                </div>
            </div>
        </div>
    </div>
    <div class="client-home-body">
        <div class="client-home-body__banner-container">
            <div class="banner-container-01" data-aos="fade-right" data-aos-duration="3000" data-aos-offset="100">
                <img width="100%" src="../../../../assets/image/banner_sale_01.png">
            </div>
            <div class="banner-container-02" data-aos="fade-left" data-aos-duration="3000" data-aos-offset="200">
                <img width="100%" src="../../../../assets/image/demo1.gif">
            </div>
            <div class="banner-container-03" data-aos="slide-right" data-aos-duration="3000" data-aos-offset="300">
                <img width="100%" src="../../../../assets/image/demo2.gif">
            </div>
            <div class="banner-container-04" data-aos="slide-left" data-aos-duration="3000" data-aos-offset="400">
                <img width="100%" src="../../../../assets/image/demo5.gif">
            </div>
            <div class="banner-container-05" data-aos="fade-right" data-aos-duration="3000" data-aos-offset="500">
                <img width="100%" src="../../../../assets/image/demo6.gif">
            </div>
        </div>
        <div class="client-home-body__product-container">
            <div class="product-container__title">
                <div class="product-container__title-line"></div>
                <div class="product-container__title-text">
                    <span class="font-global" style="font-size: 40px;">Sản phẩm mới</span>
                </div>
                <div class="product-container__title-line"></div>
            </div>
            <div class="product-container__product-list">
                <div class="grid-item" *ngFor="let item of [1,2,3,4,5,6]">
                    <div class="product-thumbnail">
                        <img src="../../../../assets/image/demo-product.jpg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="product-info__name">
                            <span class="font-global" style="font-weight: 400;">Sản phẩm 01</span>
                        </div>
                        <div class="product-info__price">
                            <span>
                                <del>
                                    <span class="font-global" style="font-weight: 300; margin-right: 10px;">1,340,000.00₫</span>
                                </del>
                                <span class="font-global" style="color: #000000;">50,000.00₫</span>
                            </span>
                        </div>
                        <div class="product-info__button-buy">
                            <div>Thêm vào giỏ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-container__pagination">
                <div class="pagination-box">
                    <div class="pagination__button-left">
                        <img width="30px" height="30px" src="../../../../assets/icons/double-left.png" alt="">
                    </div>
                    <div class="pagination__number">
                        <div class="pagination__number-item">1</div>
                        <div class="pagination__number-item">2</div>
                        <div class="pagination__number-item">3</div>
                        <div class="pagination__number-item">4</div>
                        <div class="pagination__number-item">5</div>
                        <div class="pagination__number-item">6</div>
                    </div>
                    <div class="pagination__button-right">
                        <img width="30px" height="30px" src="../../../../assets/icons/double-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client-home-footer">
        <div class="client-home-footer__info">
            <div class="info-company">
                <div class="font-global" style="color: #555555; font-size: 18px; font-weight: 600;">THÔNG TIN CÔNG TY</div>
                <div class="font-global">Giới thiệu về M.A.I Clothing</div>
                <div class="font-global">Chương trình Affiliate</div>
                <div class="font-global">Blogger thời trang</div>
            </div>
            <div class="info-support-center">
                <div class="font-global" style="color: #555555; font-size: 18px; font-weight: 600;">TRUNG TÂM HỔ TRỢ</div>
                <div class="font-global">Thông tin vận chuyển</div>
                <div class="font-global">Hướng dẫn đổi trả</div>
                <div class="font-global">Hướng dẫn đặt hàng</div>
                <div class="font-global">Làm thế nào để theo dõi</div>
            </div>
            <div class="info-customer-service">
                <div class="font-global" style="color: #555555; font-size: 18px; font-weight: 600;">DỊCH VỤ KHÁCH HÀNG</div>
                <div class="font-global">Liên hệ chúng tôi</div>
                <div class="font-global">Phương thức thanh toán</div>
                <div class="font-global">Điểm thưởng</div>
                <div class="font-global">Trung tâm khách hàng</div>
            </div>
            <div class="info-connect">
                <div class="font-global" style="color: #555555; font-size: 18px; font-weight: 600;">KẾT NỐI VỚI CHÚNG TÔI</div>
                <div class="social-box">
                    <div><img src="../../../../assets/icons/facebook.png" width="50px" height="50px" alt=""></div>
                    <div><img src="../../../../assets/icons/instagram.png" width="50px" height="50px" alt=""></div>
                    <div><img src="../../../../assets/icons/shopee.png" width="50px" height="50px" alt=""></div>
                    <div><img src="../../../../assets/icons/tiktok.png" width="50px" height="50px" alt=""></div>
                </div>
            </div>
        </div>
        <div class="client-home-footer__auth">
            <span style="color: rgba(255,255,255,0.5); font-weight: bolder;">Copyright © {{year}} M.A.I clothing</span>
        </div>
    </div>
</div>